@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&family=Sacramento&display=swap');

body{
    text-align: center;
}

.heading{
    margin-top: 10px;
    font-family: 'Sacramento', cursive;
    line-height: 1.6;
    width: 350px;
    height:  120px;
    font-size: 32px;
}

.column {
    float: left;
    width: 33.33%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }

#captureImgBtn{
    margin-left: -65px;
    font-family: 'Nunito', sans-serif;
}
#recognizeImgBtn{
    margin-left: -65px;
    font-family: 'Nunito', sans-serif;
}

#result_area{
    background: #f2f2f2;
    border-radius: 10px;
}